* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
}
h1 {
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
}
body {
    background-color: #E5E8FF;
}

#bild {
  width: 300px;
  height: auto;
  margin: 1rem 0;
}
/* index.html */

#shakeArm {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    font-family: sans-serif;
  }
  .shaker {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    display: block;
    -webkit-mask-image: radial-gradient(ellipse closest-side, black 40%, transparent 100%);
  mask-image: radial-gradient(ellipse closest-side, black 40%, transparent 100%);
  }

  .randomAdvice,
  .randomInsult {
    margin: 0.5rem 0;
    font-style: italic;
    font-size: 1rem
  }
  
  
  .auswahl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 1rem;
  }
  
  .auswahl button {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 20px;
    border: 6px solid #FF0004;
    background: #FFF;
    transition: background-color 0.3s ease;
  }
  
  .auswahl button:hover {
    background-color: #d0d0d0;
  }
  
#gewonnen {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    font-family: sans-serif;
}
#verloren {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
}
#unentschieden {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
}

.contentWrapper {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
}
/* Video anpassen, damit es neben die Sprechblase passt */
video.break {
  max-width: 70%;
  height: auto;
}

/* Sprechblase */
.speechBubble {
  position: relative;
  background: white;
  border-radius: 1em;
  padding: 1em;
  max-width: 60%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-top: 50px;
}

/* Pfeil der Sprechblase */
.speechBubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px; /* Abstand von der Sprechblase */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;

}

.speechBubble::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -33px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 32px solid black;
  z-index: 0;
}

.papierButton {
  margin-top: 1.5rem;
}

  a {
    text-decoration: none;
  }
  
  .play-again{
    text-underline: none;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 40px;
    border: 6px solid #FF0004;
    background: #FFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }

#handButton{
    width: 120px;
    line-height: normal;
    padding: 6px 12px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 6px solid #FF0004;
    background: #FFF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }

  #Logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    height: auto;
    z-index: 10;
  }


  body#startpage {
    background-color: red;
    position: relative;
      overflow: hidden;
      height: 100vh;
    
    }

  
  .figurfrontpage {
    position: absolute;
    left: 50%;
    margin-top: -200px;
    transform: translateX(-50%);
    width: 1600px;
    height: auto;
    z-index: -1;
  }
  .frontpagefrage {
  color: black;
  font-weight: 900;
  text-align: left;
  padding-left: 80px;
  font-size: 60px;
  margin-top: 30px;
  width: 100%;
  }

  .auswahlStart {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 10;
    
  }

  .startButton {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 20px;
    border: 6px solid #FF0004;
    background: #FFF;
    transition: background-color 0.3s ease;
  }

  #jaButton{

    font-size: 400%;
    padding: 8px 36px;
  }